{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
  <h3>Edit note</h3>
  <a href="{% url 'notes' %}"><i class="fas fa-arrow-left"></i></a>
</div>

<div class="card-body">
  <form method="POST" action="">
    <!-- Używamy tokenu CSRF ze względu na bezpieczeństwo użytkownika ponieważ bez niego przeglądarka ofiary może zostać zmuszona do wykonania pewnej nieautoryzowanej akcji (requestu HTTP) -->
    {% csrf_token %}
    {{ form.as_p }}
    <input class="button" type="submit" value="Submit">
  </form>
</div>

{% endblock content %}